---
import type { ModFrontmatter } from "../../lib/types";
import { GLOBAL } from "../../lib/variables";
import ModSnippet from "../ModSnippet.astro";
import Anchor from "../common/Anchor.astro";

type Props = {
  featuredMods: Array<ModFrontmatter>;
}

const { featuredMods } = Astro.props;
---

<div class="flex justify-between items-center w-full">
  <h2 class="text-3xl sm:text-3xl font-display leading-loose">{GLOBAL.modsName}</h2>
  <Anchor url="/blog" class="text-base">{GLOBAL.viewAll}</Anchor>
</div>
<ul class="my-4">
  {
    (featuredMods.length === 0 && <p>{GLOBAL.noMods}</p>) ||
        featuredMods.map((mod) => (
          <li>
            <ModSnippet
              title={mod.title}
              description={mod.description}
              url={`${mod.filename}`}
              modrinthUrl={mod.modrinthUrl}
              tags={mod.tags ?? []}
              featured={mod.featured}
            />
          </li>
      ))
  }
</ul>