---
import Anchor from "./common/Anchor.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  modrinthUrl?: string;
  tags: string[];
};

const { title, description, url, modrinthUrl, tags } = Astro.props;
---

<div class="flex flex-col gap-3 pb-8">
  <div class="flex flex-col gap-3 sm:flex-row sm:justify-between">
    <Anchor url={url} class="text-xl">
      {title}
    </Anchor>
    <div class="flex gap-2">
      {
        modrinthUrl ? (
          <Anchor url={modrinthUrl} class="text-base" external>
            Modrinth
          </Anchor>
        ) : null
      }
    </div>
  </div>
  <p class="zag-text zag-transition">
    {description}
  </p>
  <div class="flex flex-row wrap gap-2">
    {
      tags.map((tag) => (
        <span class="-zag-text -zag-bg zag-transition px-2 py-1 text-sm font-semibold">
          {tag}
        </span>
      ))
    }
  </div>
</div>
